<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4.png</key>
	<string>purple.png</string>
	<key>3.png</key>
	<string>green.png</string>
	<key>2.png</key>
	<string>yellow.png</string>
	<key>1.png</key>
	<string>blue.png</string>
	<key>0.png</key>
	<string>red.png</string>
</dict>
</plist>
